$color_default = #bdc3c7
$color_hover = #cacfd2
$color_active = #a1a6a9

.ui.input
  border 0
  outline 0
  border-radius 0
  background transparent
  font-smoothing antialiased
  border 1px solid $color_default

  &:focus
    outline 0
    border-color $color_active

  &.bottom-spacing
    margin-bottom 5px

input.ui.input
  appearance none
  -ms-appearance none
  -moz-appearance none
  -webkit-appearance none
